/themes/sswebpack_engine_only/
/themes/simple/
/.graphql-generated
/public/_resources/
/public/resources/
/public/assets/

/vendor/
/_resources/
/public/_graphql/

_ss_environment.php
.sass-cache
.DS_Store
npm-debug.log
/.buildpath
/.project
/.settings
/node_modules/
coverage/
/**/*.js.map
/silverstripe-cache/
/.env
