/* http://paletton.com/#uid=15B0u0kseuhhyC+mBvMuMovzCjn */

$BackgroundColour: #ffffff;
$MenuBarBackgroundColour: rgb(237,28,36);
$TextColour: rgb(65,64,66);
$Accent1Colour: rgb(237,28,36);
$Accent2Colour: rgb(65,64,66);
$Accent3Colour: #111111;
$Accent4Colour: #FD989D;
$Accent5Colour: #f25f65;

$LinkColour: rgb(65,64,66);
$ActiveColour: aqua;

$LightGreen: #F94952;
$DarkGreen: #C00711;
$TextOnDarkGreen: #FC7279;

$WarningColour: rgb(130,128,132);
$BadColour: #F18805;
$GoodColour: green;

$DarkGrey: #777777;
$LightGrey: rgb(130,128,132);
$Seagrey: #cfd4d4;
$SuperLightGrey: #f2f2f2;
$White: #ffffff;

$LogoLarge: url('/resources/themes/sswebpack_app/images/Logo.png');
$LogoSmall: url('/resources/themes/sswebpack_app/images/LogoSmall.png');

$HeaderFont: 'Crete Round', serif;
$TextFont: 'Source Sans Pro', sans-serif;
$MonoFont: 'monospace';
